DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
PORT=

PUBLIC_FOLDER=
IMPORTED_FILES=
BASE_FOLDER_UPLOAD=
BASE_FOLDER_LOCALE=
BASE_IMPORT_FILE=
IMAGE_FOLDER=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

JWT_SECRET=